:root {
    --background: rgb(27, 51, 81);
    --text: #1DA1F2;
}

@viewport {
    width: device-width;
    zoom: 1;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin-left: 30px;
    margin-right: 30px;
}

section {
    font-family:'Courier New', Courier, monospace;
    padding: 12px;
    line-height: 10px;
    position: relative; top: 20px;
}

#intro #hp #hp2 #about {
    position: relative; top: 20px;
    
}

#about {
    line-height: 20px;
}

nav {
    overflow: hidden;
    background-color: var(--background);
    padding: 10px;
}

.links {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    float: left;
    color: var(--text);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

nav .logo {
    font-size: 25px;
    font-weight: bold;
}

nav .links:hover {
    background-color: var(--text);
    color: var(--background);
}

.rightSection {
    float: right;
}

@media screen and (max-width: 768px) {
    nav .links {
        float: none;
        display: block;
        text-align: left;
    }
    .rightSection {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    section .my-photo {
        float: none;
        display: block;
        text-align: center;
        margin: auto;
    }
    section #intro {
        float: none;
        display: block;
        text-align: center;
        margin: auto;
        padding-top: 20px;
        line-height: 20px;
    }
    section h1 {
        float: none;
        display: block;
        text-align: center;
        margin: auto;
        line-height: normal;
    }
    section #about {
        float: none;
        display: block;
        text-align: center;
        margin: auto;
        line-height: normal;
        padding-top: 5px;
    }
}
 

.my-photo {
    width: 350px;
    float: right;
}

h1 #hp {
    font-weight: bold;
}

 section.myWork {
    margin-top: 500px;
    text-align: center;
    justify-content: center;
    line-height: 20px;
}

img#large {
   width: 800px;
   padding: 30px;
   border: 5px solid var(--text);
   margin: 50px
}

section.myWork img {
    padding: 30px;
    border: 5px solid var(--text);
}

.myWork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

section.contact {
    margin-top: 200px;
}

.contact {
    display: flex;
    flex-direction: column;

}

ul.list {
    line-height: 30px;
}

.click {
    text-decoration: underline;
    color: var(--text);
}

section.contact h1 {
    padding: 15px;
    border: 5px solid var(--text);
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    section.intro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    section.myWork {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    section.contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    img#large {
        max-width: 70%;
        padding: 15px;
        border: 5px solid var(--text);
        margin: auto;
        margin-top: 50px;
    }
    section.myWork img {
            max-width: 70%;
            padding: 15px;
            border: 5px solid var(--text);
            margin: auto;
    }
    .myWork {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    section.intro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    section.myWork {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    section.contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    img#large {
        max-width: 70%;
        padding: 15px;
        border: 5px solid var(--text);
        margin: auto;
        margin-top: 50px;
    }
    section.myWork img {
        max-width: 70%;
        padding: 15px;
        border: 5px solid var(--text);
        margin: auto;
    }
    .myWork {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}