:root {
    --background: rgb(27, 51, 81);
    --text: #ba8b46;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin-left: 30px;
    margin-right: 30px;
}

section {
    font-family:'Courier New', Courier, monospace;
    padding: 12px;
    line-height: 10px;
}

nav {
    overflow: hidden;
    background-color: var(--background);
    padding: 10px;
}

.links {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    float: left;
    color: var(--text);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

nav .logo {
    font-size: 25px;
    font-weight: bold;
}

nav .links:hover {
    background-color: var(--text);
    color: var(--background);
}

.rightSection {
    float: right;
}

@media screen and (max-width: 768px) {
    nav .links {
        float: none;
        display: block;
        text-align: left;
    }
    .rightSection {
        float: none;
    }
}

@media screen and (max-width: 481px) {
    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
        line-height: 20px;
        flex-direction: column;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }


    
}

img {
    width: 350px;
    float: right;
}

h1 #hp {
    font-weight: bold;
}